![sql](sql-logo.jpg)

# More SQL Tools

Goals:

- Connecting SQL with `pandas`
- Describing PostgreSQL as a more sophisticated alternative to SQLite

In [12]:
import sqlite3

In [6]:
cur = sqlite3.connect('flights.db').cursor()

## Grouping statements

Combine `SELECT` and `GROUP BY` when you want *aggregates* by values

`SELECT` `COUNT`, `MIN(x)`, `MAX(x)`, `SUM(x)`, etc.

`GROUP BY x`

**Tasks**<br>
- Which countries have the highest numbers of active airlines?
- Which countries have the highest numbers of inactive airlines?

In [10]:
cur.execute(
"""
SELECT COUNT() num, country
FROM airlines
WHERE active='Y'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
"""
).fetchall()

[(141, 'United States'),
 (72, 'Russia'),
 (40, 'United Kingdom'),
 (37, 'Germany'),
 (34, 'Canada'),
 (26, 'Australia'),
 (25, 'China'),
 (24, 'Spain'),
 (23, 'Brazil'),
 (22, 'France'),
 (19, 'Japan'),
 (18, 'Italy'),
 (17, 'Indonesia'),
 (17, 'India'),
 (16, 'Turkey'),
 (16, 'Thailand'),
 (15, 'Sweden'),
 (14, 'Switzerland'),
 (13, 'Ukraine'),
 (13, 'Portugal'),
 (12, 'Mexico'),
 (12, 'Finland'),
 (12, 'Egypt'),
 (12, 'Austria'),
 (11, 'Peru')]

In [11]:
cur.execute(
"""
SELECT COUNT() num, country
FROM airlines
WHERE active='N'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30
"""
).fetchall()

[(939, 'United States'),
 (427, 'Mexico'),
 (367, 'United Kingdom'),
 (284, 'Canada'),
 (158, 'Russia'),
 (142, 'Spain'),
 (97, 'France'),
 (94, 'Germany'),
 (81, 'South Africa'),
 (80, 'Nigeria'),
 (76, 'Ukraine'),
 (73, 'Kazakhstan'),
 (72, 'Italy'),
 (67, 'Australia'),
 (55, 'Sweden'),
 (47, 'Sudan'),
 (46, 'Switzerland'),
 (45, 'China'),
 (43, 'Netherlands'),
 (38, 'Austria'),
 (36, 'Egypt'),
 (35, 'Chile'),
 (35, 'Brazil'),
 (35, 'Angola'),
 (34, 'Colombia'),
 (32, 'Thailand'),
 (32, 'Portugal'),
 (32, 'Mauritania'),
 (31, 'Indonesia'),
 (29, 'Kyrgyzstan')]

**Exercise**: Run a query that will return the number of airports by time zone. Each row should have a number of airports and a time zone.



### `CASE WHEN`

`CASE WHEN` is SQL's version of `if ... then ... else`. It must *always* be closed with an `END`.

In [ ]:
cursor.execute(
"""
SELECT name, city,
CASE WHEN latitude > 0 THEN 'northern hemisphere'
ELSE 'southern hemisphere'
END AS hemisphere
FROM airports
"""
).fetchall()

### Subqueries

For more complex queries it can be helpful to break them down into multiple parts. Subqueries are a natural way to do this.

Suppose I wanted to know, after collecting together the highest airport in each country, which one's name comes alphabetically first.

I might break this down by first collecting the highest airports and then _wrapping_ that query in a higher query that selects the name and country I want _from_ the result of that first query:

In [ ]:
cursor.execute(
"""
SELECT MIN(name), country FROM
(SELECT name, code, country, MAX(CAST(altitude AS INT))
FROM airports
GROUP BY country)
"""
).fetchall()

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

# Get data for an example

In [ ]:
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/\
views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

shelter_data[shelter_data['Name'] == "Max"].head()

# With .query()

In [ ]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

## Goal 6: Transfering from sqlite to pandas

`.read_sql()`

In [ ]:
import pandas as pd

conn = sqlite3.connect("flights.db")
df = pd.read_sql("SELECT * FROM airports LIMIT 50", conn)
df

**Exercise for later**: 
Convert one of the earlier queries in the lesson to a pandas data frame



`pandasql` is a library that allows SQL-style querying of `pandas` DataFrames.

In [ ]:
import pandasql

pandasql.sqldf("SELECT name, code FROM df LIMIT 10", globals())

## On Your Own

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

# Getting Started

In [1]:
con = sqlite3.connect('Chinook_Sqlite.sqlite')

cursor2 = con.cursor()

cursor2.execute(
"""
SELECT tbl_name
FROM sqlite_master
WHERE type='table'
"""
)

cursor2.fetchall()